<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578398100864-me9rm5opd12fcjkupjl0libevt4ei2gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578398100864-me9rm5opd12fcjkupjl0libevt4ei2gq</string>
	<key>API_KEY</key>
	<string>AIzaSyAdyEraDaI3uXfEbWbO_x0ygRKquT9hBxk</string>
	<key>GCM_SENDER_ID</key>
	<string>578398100864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rebeloper.SwiftyFire</string>
	<key>PROJECT_ID</key>
	<string>swiftyfire-59eb8</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftyfire-59eb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578398100864:ios:2ab0124b652291cb</string>
	<key>DATABASE_URL</key>
	<string>https://swiftyfire-59eb8.firebaseio.com</string>
</dict>
</plist>